.foldersContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.folderBox {
    display: flex;
    flex-direction: row;
    width: 262px;
    height: 51.81px;

    margin-top: 23px;
    padding: 5px;
    background: #ebf0f5;
    border-radius: 5px;
    border: none;
    align-items: center;
}

.folderBoxSelected {
    display: flex;
    flex-direction: row;
    width: 262px;
    height: 51.81px;

    margin-top: 23px;
    padding: 5px;
    background: #c4dbf1;
    border-radius: 5px;
    border: none;
    align-items: center;
}

.folderIcon {
    margin: 15px 20px 15px 20px;
    align-self: center;

    background: url("../../../public/images/folder.png") no-repeat;
    width: 23px;
    height: 17px;

    background-position: center; /* center the image within the button */
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    
    background-position-x: center;
    background-position-y: center;
}

.folderName {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.02em;

    color: #566474;
}
