.file-explorer-home-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 1440px;
    max-width: 1440px;
    min-width: 1000px;

    background-color: white;
    /* border: 1px solid black; */
    align-self: center;
}

.sidebar {
    display: flex;
    flex-direction: column;
    padding: 30px;
    height: 100vh;
    width: 380px;
    
    background-color: #e5e5e5;
    align-items: center;
}

.app-logo {
    display: flex;
    align-self: flex-start;
    width: 160px;
    height: 50px;
    margin: 30px 20px;
    left: 50px;
    top: 50.36px;
    border: none;
    background: url("../../public/images/logo.png") no-repeat;
}

.add-buttons-wrapper {
    display: flex;
    flex-direction: row;
    margin: 10px;
    top: 17%;
    height: 60px;
    width: 360px;
    justify-content: space-evenly;
}

.add-file {
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 113px;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    gap: 10px;
    
    border: 1px solid #445ee2;
    border-radius: 5px;
    cursor: pointer;
}

.add-file-icon {
    height: 22px;
    width: 19px;
    background: url("../../public/images/add-file.png") no-repeat;
}


.add-folder-icon {
    background: url("../../public/images/addfolder.png") no-repeat;
    height: 21px;
    width: 23px;
}
.add-folder {
    display: flex;
    flex-direction: row;
    margin: 10px;
    border: 1px solid #445ee2;
    border-radius: 5px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 139px;
    gap: 10px;

    cursor: pointer;
}

.folder-section-container {
    height: 450px;
    width: 280px;
    overflow-y: scroll;
    margin: 10px
}
/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.lock-button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 50px 20px;
    padding: 8px 16px;
    gap: 18px;

    width: 281px;
    height: 44px;

    background: #445ee2;
    border-radius: 5px;
    border: none;

    color: white;
    cursor: pointer;
}

.lock-now-icon {
    background: url("../../public/images/lock.png") no-repeat;
    height: 22px;
    width: 22px;
    background-position-x: center;
    background-position-y: center;
}

.right-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* width: 74%; */
    width: 1080px;
    padding: 30px;
    background-color: white;
}

.app-options-bar {
    display: flex;
    flex-direction: row;
    padding: 25px;
    margin-bottom: 15px;
}

.search-container {
    display: flex;
    flex-direction: column;
    width: 486px;
}

.search-inner {
    display: flex;
    flex-direction: row;
    width: 486px;
    height: 44px;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #ebf0f5;
    border-radius: 5px;
}

.search-icon {
    background: url("../../public/images/search.png") no-repeat;
    width: 28px;
    height: 28px;
    margin: 3px;
    background-size: 100%;
    background-position: center;
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    border: none;
    align-self: center;
}

.search-input-box{
    border: none;
    width: 486px;
    border: none;
    height: 32px;
    outline: none;
    margin: auto;
}


.dropdown {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    width: 486px;

    box-sizing: border-box;
    position: absolute;
    left: 437 px;
    top: 113px;

    background: #ffffff;
    border: 1px solid #ebf0f5;
    border-radius: 5px;
}

.dropdown-row {
    display: flex;
    flex-direction: row;
    margin: 2px 0;
    width: 486px;
    height: 28px;
    
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    text-align: start;
    
    cursor: pointer;
}

.dropdown-empty {
    border: none;
    display: none;
}

.dropdown-row-icon {
    height: 21px;
    width: 16px;
    background: url("../../public/images/dropdownicon.png");
    background-size: 100%;
    background-position: center;
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    border: none;
    align-self: center;
    margin-right: 20px;
}

.settings-button {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    width: 44px;
    height: 44px;
    left: 1298px;
    top: 49px;

    background-color: white;
    border: solid 1px #ebf0f5;
    border-radius: 5px;
    cursor: pointer;
}

.settings-icon {
    height: 24px;
    width: 24px;
    background: url("../../public/images/setting.png") no-repeat;
}

.logout-button {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    width: 44px;
    height: 44px;
    left: 1364px;
    top: 49px;
    background-color: white;
    border: solid 1px #ebf0f5;
    border-radius: 5px;
    cursor: pointer;

}

.logout-icon {
    height: 20px;
    width: 16px;
    background: url("../../public/images/log-out.png") no-repeat;
}

hr {
    position: absolute;
    margin: 5px;
    top: 193px;
    left: 431px;
    height: 1px;
    width: 959px;
    background: #ebf0f5;
}

.breadcrumbs {
    display: flex;
    align-items: flex-start;
    padding-left: 30px;
}

.file-section-container {
    position: absolute;
    margin: 20px;
    padding: 10px;
    top: 230px;
    height: 550px;
    width: 930px;
    /* border: 1px solid #e5e5e5; */
}
