.file-explorer-home-container {
    height: 100vh;
    width: 1440px;
    background-color: white;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
}

.sidebar {
    height: 100vh;
    width: 380px;
    background-color: #e5e5e5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    justify-content: center;
}

.app-logo {
    position: absolute;
    width: 160px;
    height: 40px;
    left: 50px;
    top: 50.36px;
    border: solid 2px black;
}

.add-buttons-wrapper {
    flex-direction: row;
    top: 17%;
    position: absolute;

    /* border: 1px solid black; */
    height: 60px;
    width: 360px;
    display: flex;
    justify-content: space-evenly;
}

.addfile-btn-wrapper {
    display: flex;
    flex-direction: row;
}

.add-file-icon {
    background: url("../../public/images/add-file.png") no-repeat;
    height: 22px;
    width: 19px;
}

.add-file {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;

    /* position: absolute;
    left: 3.47%;
    right: 88.68%;
    top: 17%;
    bottom: 78.56%; */

    height: 40px;
    width: 113px;

    /* background: url("../../public/images/add-file.png") no-repeat; */

    border: 1px solid #445ee2;
    border-radius: 5px;

    cursor: pointer;
}

.add-folder-icon {
    background: url("../../public/images/addfolder.png") no-repeat;
    height: 21px;
    width: 23px;
}
.add-folder {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;

    /* position: absolute;
    left: 13.33%;
    right: 77.01%;
    top: 17%;
    bottom: 78.67%; */

    height: 40px;
    width: 139px;

    border: 1px solid #445ee2;
    border-radius: 5px;
    cursor: pointer;
}

.folder-section-container {
    height: 450px;
    width: 280px;
    overflow-y: scroll;
}

.lock-now-icon {
    background: url("../../public/images/lock.png") no-repeat;
    height: 22px;
    width: 22px;
    background-position-x: center;
    background-position-y: center;
}

.lock-button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 18px;

    position: absolute;
    width: 281px;
    height: 44px;
    left: 50px;
    top: 806px;

    background: #445ee2;
    border-radius: 5px;
    border: none;

    color: white;
    cursor: pointer;
}

.right-container {
    height: 100vh;
    width: 1060px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: white;
}

.app-options-bar {
    padding: 25px;
    display: flex;
    flex-direction: row;
}

.search-container {
    width: 280px;
    display: flex;
    flex-direction: column;
    width: 486px;
}

.search-inner {
    display: flex;
    width: 486px;
    height: 44px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #ebf0f5;
    border-radius: 5px;
}

.search-icon {
    background: url("../../public/images/search.png") no-repeat;
    width: 28px;
    height: 28px;
    margin: 3px;
    background-size: 100%;
    background-position: center;
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    border: none;
    align-self: center;
}

.search-input-box{
    border: none;
    width: 486px;
    border: none;
    height: 32px;
    outline: none;
    margin: auto;
}


.dropdown {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    width: 486px;

    box-sizing: border-box;
    position: absolute;
    left: 437 px;
    top: 113px;

    background: #ffffff;
    border: 1px solid #ebf0f5;
    border-radius: 5px;
}


.dropdown-row {
    cursor: pointer;
    text-align: start;
    margin: 2px 0;
    width: 486px;

    /* position: absolute; */
    height: 28px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;

    display: flex;
    flex-direction: row;
    
}
.dropdown-empty {
    border: none;
    display: none;
}

.dropdown-row-icon {
    background: url("../../public/images/dropdownicon.png");
    height: 21px;
    width: 16px;
    background-size: 100%;
    background-position: center;
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    border: none;
    align-self: center;
    margin-right: 20px;
}

.settings-button {
    position: absolute;
    width: 44px;
    height: 44px;
    left: 1298px;
    top: 49px;
    background-color: white;
    border: solid 1px #ebf0f5;
    border-radius: 5px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.settings-icon {
    background: url("../../public/images/setting.png") no-repeat;
    height: 24px;
    width: 24px;
}

.logout-button {
    position: absolute;
    width: 44px;
    height: 44px;
    left: 1364px;
    top: 49px;
    background-color: white;
    border: solid 1px #ebf0f5;
    border-radius: 5px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.logout-icon {
    background: url("../../public/images/log-out.png") no-repeat;
    height: 20px;
    width: 16px;
}

hr {
    top: 193px;
    position: absolute;
    height: 1px;
    width: 959px;
    left: 431px;
    background: #ebf0f5;
}

.file-section-container {
    position: absolute;
    top: 230px;
    height: 550px;
    width: 930px;
    border: 1px solid #e5e5e5;
    padding: 10px;
    margin: 20px;
}
