.setPinModal {
    position: absolute;
    width: 399.83px;
    height: 416px;
    left: 40%;
    top: 25%;
    border-radius: 10px;
    border: none;
    background: white;
}

.myModalDialog {
    height: 100%;
    width: 90%;
    margin: auto;
    padding: 15px;
}

.myModalContent {
    border: none;
    align-items: center;
    height: 100%;
    width: 100%;
}

.pinHeading {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 167px;
    height: 28px;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: #1e272e;
    margin-bottom: 30px;
}

.inputSection {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.inputRow {
    display: flex;
    align-items: center;
}
.inputBox {
    width: 80%;
    margin-right: 10px;
}

.labels {
    color: black;
    text-align: left;
}

.enterPinButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 8px 16px;
    gap: 8px;
    margin-top: 50px;
    width: 160px;
    height: 44px;

    color: #fff;
    background: #142683;
    border-radius: 5px;
}

.far {
    margin-left: -30px;
    cursor: pointer;
}

.errorMsg {
    color: red;
    text-align: center;
}
