.editfile-modal {
    position: absolute;
    width: 548px;
    height: 607px;
    left: 446px;
    top: 152px;
    background: #ffffff;
    border: 1px solid #c8d6e5;
    border-radius: 10px;
}

.modal-contents {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 400px;
    width: 486px;
    border: none;
    margin: auto;
    padding: 15px;
}

.file-heading {
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 167px;
    height: 28px;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.02em;

    color: #1e272e;
    align-self: flex-start;
}

.edit-file-input{
    height: 400px;
    width: 467px;
}

.label {
    margin-top: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    /* identical to box height, or 175% */
    letter-spacing: -0.02em;
    /* secondary text */
    color: #566474;
}

.input {
    margin-top: 10px;
    height: 395px;
    left: 486.1px;
}

.create-file-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;

    width: 160px;
    height: 44px;
    margin-top: 30px;

    color: #fff;
    background: #142683;
    border-radius: 5px;
}
